<!DOCTYPE html>
<html>
<head>
{% include head.html %}
{% if site.dropcap %}<style type="text/css">@media only screen and (min-width:43.75em){.notepad-post-content div>p:first-child:first-letter{float:left;font-size:4.688rem;line-height:4.375rem;padding-top:.25rem;padding-right:.5rem;padding-left:.188rem;font-family:serif}}</style>{% endif %}
</head>
<body class="post-template" itemscope itemtype="http://schema.org/WebPage">  
{% if page.imagefeature %}
        <main id="notepad-post-container" class="notepad-post-container intro-effect-sliced" role="main">
            <header class="notepad-post-header">
                <div class="bg-img"></div>
                
                <div class="notepad-post-menu-header">
{% else %}
        <main id="notepad-post-container-simple" class="notepad-post-container-simple" role="main">
            <header class="notepad-post-header-simple">
                <div class="notepad-post-menu-header-simple">
{% endif %}
                    <a class="notepad-blog-logo" href="{{ site.url }}">
                        <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
                    </a>

                <div class="notepad-blog-menu">      
    <div class="notepad-mobile-menu show-for-small">
        <a href="#"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="notepad-menu">
        <li class="notepad-mobile-close-btn show-for-small text-right">
            <a href="#"><i class="fa fa-times"></i></a>
        </li>
{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
{% endfor %}            
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </ul>

</div>
            </div>
{% if page.imagefeature %}
            <div class="notepad-post-title bg-check">
                <h1>{{ page.title }}</h1>
                <p>by <strong>{{ site.owner.name }}</strong> &#8212; {% assign tagsize = page.tags.size %}{% if tagsize != 0 %}on {% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&comma;&nbsp;{% endunless %}{% endfor %}{% endif %} <strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong></p>
            </div>
            <div class="bg-img"></div>
        </header>
        <button class="trigger bg-check" data-info="Read more"><span>Trigger</span></button>
        <img src="{{ site.url }}/images/{{ page.imagefeature }}" alt="cover-image" />
{% else %}
                <div class="notepad-post-title-simple row">
                    <div class="small-12 columns">
                        <div class="notepad-post-meta-simple">
                            <h1>{{ page.title }}</h1>
                            <p>by <strong>{{ site.owner.name }}</strong> &#8212; {% assign tagsize = page.tags.size %}{% if tagsize != 0 %}on {% for tag in page.tags %}<a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip" title="Posts tagged with {{ tag }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}&nbsp;&comma;&nbsp;{% endunless %}{% endfor %}{% endif %} <strong><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time></strong></p>
                        </div>
                    </div>
                </div>
            </header>
{% endif %}
        {% if page.imagefeature %}<article class="notepad-post-content post">{% else %}<article class="notepad-post-content post tag-simple">{% endif %}
            <div>{{ content }}
            </div>
        </article>
                        
        <div class="cf"></div>
{% if site.share %}{% include share.html %}{% endif %}.
                        
<a target="_blank"  href="https://www.amazon.in/gp/product/9352130693/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=9352130693&linkCode=as2&tag=ramitsurana-21&linkId=ca85c626e98a6f3eaa59d2fffea79cfe"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=9352130693&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=9352130693" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                                               
<a target="_blank"  href="https://www.amazon.in/gp/product/1491935677/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=1491935677&linkCode=as2&tag=ramitsurana-21&linkId=b30c1939bef974fb9f1c895fb71874c8"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=1491935677&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=1491935677" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/B00QJDOEAO/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=B00QJDOEAO&linkCode=as2&tag=ramitsurana-21&linkId=04b85d01d550afc4106b494606bcbc99"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=B00QJDOEAO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=B00QJDOEAO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/B01EU2M62S/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=B01EU2M62S&linkCode=as2&tag=ramitsurana-21&linkId=3305f32bfbb4be94785d3b79d8bc7b6b"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=B01EU2M62S&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=B01EU2M62S" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/9351199355/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=9351199355&linkCode=as2&tag=ramitsurana-21&linkId=943d0551d6d00cca2afc58377b930b26"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=9351199355&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=9351199355" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/9386052105/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=9386052105&linkCode=as2&tag=ramitsurana-21&linkId=4ad594346a9622ccf8e85daed6e3384e"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=9386052105&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=9386052105" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/0753555638/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=0753555638&linkCode=as2&tag=ramitsurana-21&linkId=59ade6acc935fe884660d3f639ea2022"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=0753555638&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=0753555638" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/B00AZRBLHO/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=B00AZRBLHO&linkCode=as2&tag=ramitsurana-21&linkId=7c136acfe567dfba59809547dc9ef379"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=B00AZRBLHO&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=B00AZRBLHO" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/1491926309/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=1491926309&linkCode=as2&tag=ramitsurana-21&linkId=fe37f2ebe4d7b238b131cc089006f8e3"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=1491926309&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=1491926309" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
<a target="_blank"  href="https://www.amazon.in/gp/product/B01IO2VKHM/ref=as_li_tl?ie=UTF8&camp=3638&creative=24630&creativeASIN=B01IO2VKHM&linkCode=as2&tag=ramitsurana-21&linkId=a329a9dc2d43ff50d29ed3d8391229c9"><img border="0" src="//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=IN&ASIN=B01IO2VKHM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL160_&tag=ramitsurana-21" ></a><img src="//ir-in.amazon-adsystem.com/e/ir?t=ramitsurana-21&l=am2&o=31&a=B01IO2VKHM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />                        
        <div class="cf"></div>
        
{% include signoff.html %} 
        
        <div class="cf"></div>
        <div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = http://ramitsurana.github.io/myblog;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//ramitsurana-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
    </div>
</section>
                    
<div class="cf"></div>    
    {% include footer.html %} 
</main>    
{% include scripts.html %} 
</body>
</html>
